@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@200&family=Courgette&family=Darker+Grotesque:wght@300&family=Diphylleia&family=Mukta+Malar:wght@200&family=Noto+Sans:wght@100&family=Poppins&family=Public+Sans:wght@100&display=swap");

html,
body {
  font-family: "poppins";
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  top: 0;
  left: 0;
}
.head-nav a {
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  color: rgba(34, 54, 69, 7);
}
.head-nav a:hover {
  color: #d03737;
}
.head-nav ul {
  list-style: none;
}
.head-nav {
  background-color: #fff !important;
  padding: 3rem 2rem;
  height: 0rem;
  /* min-height: ; */
}

.head-nav .navbar-brand {
  padding: 1rem 0;
  display: block;
  text-decoration: none;
}
.head-nav .navbar-brand img {
  width: 150px;
  height: 40px;
}
.head-nav button {
  background: #be0c0c;
  border: none;
  padding: 8px 12px;
  outline: none;
  /* border-radius: 8px; */
  color: #fff;
  font-size: 16px;
}
.head-nav button:hover {
  background-color: #e60101;
  color: #fff;
  border: 1px solid #fff;
  transition: 0.2s ease;
  box-shadow: 0px 0px 5px #efefef;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding: 2rem 1rem;
  font-size: 1-2rem;
  position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
  border-bottom: 4px solid #be0c0c;
}
.navbar-expand-lg .navbar-nav .nav-link:active {
  border-top: 4px solid #be0c0c;
  color: #be0c0c;
}
.header {
  z-index: 1;
  position: fixed;
  width: 100%;
  background: #fff;
}
/* cursole body image */
.all-body {
  z-index: -0;
}
.car-1 {
  height: 100vh;
  min-height: 300px;
  background: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.car-1::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0.7;
}
.car-1 .carousel-caption {
  bottom: 180px;
  padding-left: 100px;
  padding-right: 100px;
}
.car-1 .carousel-caption h5 {
  font-size: 100px;
  font-weight: 700;
}
.car-1 .carousel-caption p {
  font-size: 20px;
  top: 2rem;
}
.slide-btn {
  margin-top: 30px;
}
.slide-btn .btn {
  background-color: #d03737;
  border-radius: 0;
  columns: white;
  padding: 1rem 2rem;
  font-size: 1rem;
}
