* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  background: linear-gradient(180deg, #6f6f6f, #878686, #a9a8a8);
}
.main {
  width: 360px;
  height: 500px;
  background: #ffff;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #efefef;
}
#chk {
  display: none;
}
.signup {
  position: relative;
  width: 100%;
  height: 100%;
}
label {
  color: #d03737;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px 60px 30px 60px;

  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
form input {
  width: 80%;
  height: 20px;
  background: #ededed;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 20px;
  border: none;
  outline: none;
  border-radius: 5px;
}
form button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #d03737;

  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
button:hover {
  background: #f32424;
}
.login {
  height: 460px;
  background: #fff;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}
.login label {
  color: #d03737;
  transform: scale(0.6);
}
#chk:checked ~ .login {
  transform: translateY(-500px);
}
#chk:checked ~ .login label {
  transform: scale(1);
}
#chk:checked ~ .signup label {
  transform: scale(0.6);
}
